<ion-content class="ion-padding">
  <div class="container">
    <ion-card class="home-card" color="light">
      <ion-card-header class="ion-text-center">
        <ion-img src="assets/img/logo.jfif" alt="CarFinder Logo" style="max-width: 150px; margin: 0 auto;"></ion-img>
        <ion-card-title style="margin-top: 10px;">Bienvenido a CarFinder</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <p>Localiza y reporta vehículos robados de forma rápida.</p>
        <p>Ayuda a mantener segura tu comunidad colaborando con otros usuarios.</p>
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" color="primary" [routerLink]="['/login']">
      Iniciar Sesión
    </ion-button>

    <ion-button expand="block" color="light" [routerLink]="['/registro']">
      Registrarse
    </ion-button>
  </div>
</ion-content>
